################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter02/ConsoleApp1/obj
/Chapter02/ConsoleApp1/bin/Debug/net6.0
